 body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
        }
        

        .container {
            max-width: 800px;
            margin: 30px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1, h2 {
            text-align: center;
            color: #333;
        }

        p {
            color: #666;
        }

        .timeline {
            margin-top: 30px;
            padding-left: 20px;
        }

        .event {
            position: relative;
            padding-left: 20px;
            margin-bottom: 20px;
        }

        .event::before {
            content: '';
            position: absolute;
            top: 5px;
            left: -5px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #333;
        }

        .event h3 {
            margin-top: 5px;
            margin-bottom: 10px;
            color: #333;
        }

        .event p {
            margin-bottom: 10px;
        }


        .a {
            border-radius: 7px;
		position: absolute;
		left: 100px;
		top: 100px;
		z-index: 4;
	}

	.b {
                    border-radius: 7px;
		position: absolute;
		left: 135px;
		top: 135px;
		z-index: 3;
        transition: z-index 0.2s;
	}

	.c {
                            border-radius: 7px;
		position: absolute;
		left: 170px;
		top: 170px;
		z-index: 2;
        transition: z-index 0.2s;
	}

	.d {
                            border-radius: 7px;
		position: absolute;
		left: 200px;
		top: 200px;
		z-index: 1;
        transition: z-index 0.2s;
    }

        .a:hover {

		z-index: 5;
        box-shadow: 20px 30px 70px rgba(0, 0, 0, 0.623);
	}

	.b:hover {
		z-index: 5;
          box-shadow: 20px 30px 70px rgba(0, 0, 0, 0.623);
	}

	.c:hover {
		z-index: 5;
          box-shadow: 20px 30px 70px rgba(0, 0, 0, 0.623);
	}

	.d:hover {
		z-index: 5;
          box-shadow: 20px 30px 70px rgba(0, 0, 0, 0.623);
	}
.cont2 {
    width: 800px;
         height: 880px;
            margin: 30px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .z {
        float: left;
        position: absolute;
        top: 160%;
        left: 270px;
    }
    .z img {
        border: 2px solid black;
    }

    .hr {
         position: absolute;
        top: 140%;
        font-size: 20px;
        left: 21%;
    }

     .h1 {
        position: absolute;
        top: 128%;
        left: 31%;
    }

    